<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Book" >
    <id column="BookNo" property="bookno" jdbcType="BIGINT" />
    <result column="BookName" property="bookname" jdbcType="VARCHAR" />
    <result column="BookSoft" property="booksoft" jdbcType="VARCHAR" />
    <result column="Author" property="author" jdbcType="VARCHAR" />
    <result column="Press" property="press" jdbcType="VARCHAR" />
    <result column="Pdate" property="pdate" jdbcType="DATE" />
    <result column="Adate" property="adate" jdbcType="DATE" />
    <result column="MaxNumber" property="maxnumber" jdbcType="INTEGER" />
    <result column="Number" property="number" jdbcType="INTEGER" />
    <result column="Price" property="price" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BookNo, BookName, BookSoft, Author, Press, Pdate, Adate, MaxNumber, Number, Price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.BookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from book
    where BookNo = #{bookno,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from book
    where BookNo = #{bookno,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.BookExample" >
    delete from book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Book" >
    insert into book (BookNo, BookName, BookSoft, 
      Author, Press, Pdate, 
      Adate, MaxNumber, Number, 
      Price)
    values (#{bookno,jdbcType=BIGINT}, #{bookname,jdbcType=VARCHAR}, #{booksoft,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{press,jdbcType=VARCHAR}, #{pdate,jdbcType=DATE}, 
      #{adate,jdbcType=DATE}, #{maxnumber,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, 
      #{price,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Book" >
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookno != null" >
        BookNo,
      </if>
      <if test="bookname != null" >
        BookName,
      </if>
      <if test="booksoft != null" >
        BookSoft,
      </if>
      <if test="author != null" >
        Author,
      </if>
      <if test="press != null" >
        Press,
      </if>
      <if test="pdate != null" >
        Pdate,
      </if>
      <if test="adate != null" >
        Adate,
      </if>
      <if test="maxnumber != null" >
        MaxNumber,
      </if>
      <if test="number != null" >
        Number,
      </if>
      <if test="price != null" >
        Price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookno != null" >
        #{bookno,jdbcType=BIGINT},
      </if>
      <if test="bookname != null" >
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="booksoft != null" >
        #{booksoft,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="press != null" >
        #{press,jdbcType=VARCHAR},
      </if>
      <if test="pdate != null" >
        #{pdate,jdbcType=DATE},
      </if>
      <if test="adate != null" >
        #{adate,jdbcType=DATE},
      </if>
      <if test="maxnumber != null" >
        #{maxnumber,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.BookExample" resultType="java.lang.Integer" >
    select count(*) from book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update book
    <set >
      <if test="record.bookno != null" >
        BookNo = #{record.bookno,jdbcType=BIGINT},
      </if>
      <if test="record.bookname != null" >
        BookName = #{record.bookname,jdbcType=VARCHAR},
      </if>
      <if test="record.booksoft != null" >
        BookSoft = #{record.booksoft,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        Author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.press != null" >
        Press = #{record.press,jdbcType=VARCHAR},
      </if>
      <if test="record.pdate != null" >
        Pdate = #{record.pdate,jdbcType=DATE},
      </if>
      <if test="record.adate != null" >
        Adate = #{record.adate,jdbcType=DATE},
      </if>
      <if test="record.maxnumber != null" >
        MaxNumber = #{record.maxnumber,jdbcType=INTEGER},
      </if>
      <if test="record.number != null" >
        Number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        Price = #{record.price,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update book
    set BookNo = #{record.bookno,jdbcType=BIGINT},
      BookName = #{record.bookname,jdbcType=VARCHAR},
      BookSoft = #{record.booksoft,jdbcType=VARCHAR},
      Author = #{record.author,jdbcType=VARCHAR},
      Press = #{record.press,jdbcType=VARCHAR},
      Pdate = #{record.pdate,jdbcType=DATE},
      Adate = #{record.adate,jdbcType=DATE},
      MaxNumber = #{record.maxnumber,jdbcType=INTEGER},
      Number = #{record.number,jdbcType=INTEGER},
      Price = #{record.price,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Book" >
    update book
    <set >
      <if test="bookname != null" >
        BookName = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="booksoft != null" >
        BookSoft = #{booksoft,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        Author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="press != null" >
        Press = #{press,jdbcType=VARCHAR},
      </if>
      <if test="pdate != null" >
        Pdate = #{pdate,jdbcType=DATE},
      </if>
      <if test="adate != null" >
        Adate = #{adate,jdbcType=DATE},
      </if>
      <if test="maxnumber != null" >
        MaxNumber = #{maxnumber,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        Number = #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        Price = #{price,jdbcType=DOUBLE},
      </if>
    </set>
    where BookNo = #{bookno,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Book" >
    update book
    set BookName = #{bookname,jdbcType=VARCHAR},
      BookSoft = #{booksoft,jdbcType=VARCHAR},
      Author = #{author,jdbcType=VARCHAR},
      Press = #{press,jdbcType=VARCHAR},
      Pdate = #{pdate,jdbcType=DATE},
      Adate = #{adate,jdbcType=DATE},
      MaxNumber = #{maxnumber,jdbcType=INTEGER},
      Number = #{number,jdbcType=INTEGER},
      Price = #{price,jdbcType=DOUBLE}
    where BookNo = #{bookno,jdbcType=BIGINT}
  </update>
</mapper>