<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.BorrowbooksMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Borrowbooks" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="BookNo" property="bookno" jdbcType="BIGINT" />
    <result column="CardNo" property="cardno" jdbcType="BIGINT" />
    <result column="Bdate" property="bdate" jdbcType="TIMESTAMP" />
    <result column="Rdate" property="rdate" jdbcType="TIMESTAMP" />
    <result column="cd" property="cd" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, BookNo, CardNo, Bdate, Rdate, cd
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.BorrowbooksExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from borrowbooks
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from borrowbooks
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from borrowbooks
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.BorrowbooksExample" >
    delete from borrowbooks
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Borrowbooks" >
    insert into borrowbooks (id, BookNo, CardNo, 
      Bdate, Rdate, cd)
    values (#{id,jdbcType=BIGINT}, #{bookno,jdbcType=BIGINT}, #{cardno,jdbcType=BIGINT}, 
      #{bdate,jdbcType=TIMESTAMP}, #{rdate,jdbcType=TIMESTAMP}, #{cd,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Borrowbooks" >
    insert into borrowbooks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bookno != null" >
        BookNo,
      </if>
      <if test="cardno != null" >
        CardNo,
      </if>
      <if test="bdate != null" >
        Bdate,
      </if>
      <if test="rdate != null" >
        Rdate,
      </if>
      <if test="cd != null" >
        cd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bookno != null" >
        #{bookno,jdbcType=BIGINT},
      </if>
      <if test="cardno != null" >
        #{cardno,jdbcType=BIGINT},
      </if>
      <if test="bdate != null" >
        #{bdate,jdbcType=TIMESTAMP},
      </if>
      <if test="rdate != null" >
        #{rdate,jdbcType=TIMESTAMP},
      </if>
      <if test="cd != null" >
        #{cd,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.BorrowbooksExample" resultType="java.lang.Integer" >
    select count(*) from borrowbooks
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update borrowbooks
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.bookno != null" >
        BookNo = #{record.bookno,jdbcType=BIGINT},
      </if>
      <if test="record.cardno != null" >
        CardNo = #{record.cardno,jdbcType=BIGINT},
      </if>
      <if test="record.bdate != null" >
        Bdate = #{record.bdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rdate != null" >
        Rdate = #{record.rdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cd != null" >
        cd = #{record.cd,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update borrowbooks
    set id = #{record.id,jdbcType=BIGINT},
      BookNo = #{record.bookno,jdbcType=BIGINT},
      CardNo = #{record.cardno,jdbcType=BIGINT},
      Bdate = #{record.bdate,jdbcType=TIMESTAMP},
      Rdate = #{record.rdate,jdbcType=TIMESTAMP},
      cd = #{record.cd,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Borrowbooks" >
    update borrowbooks
    <set >
      <if test="bookno != null" >
        BookNo = #{bookno,jdbcType=BIGINT},
      </if>
      <if test="cardno != null" >
        CardNo = #{cardno,jdbcType=BIGINT},
      </if>
      <if test="bdate != null" >
        Bdate = #{bdate,jdbcType=TIMESTAMP},
      </if>
      <if test="rdate != null" >
        Rdate = #{rdate,jdbcType=TIMESTAMP},
      </if>
      <if test="cd != null" >
        cd = #{cd,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Borrowbooks" >
    update borrowbooks
    set BookNo = #{bookno,jdbcType=BIGINT},
      CardNo = #{cardno,jdbcType=BIGINT},
      Bdate = #{bdate,jdbcType=TIMESTAMP},
      Rdate = #{rdate,jdbcType=TIMESTAMP},
      cd = #{cd,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>