<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.LightStatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.LightStatistics" >
    <id column="light_id" property="lightId" jdbcType="INTEGER" />
    <result column="store_count" property="storeCount" jdbcType="INTEGER" />
    <result column="sale_count" property="saleCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    light_id, store_count, sale_count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.LightStatisticsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from light_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from light_statistics
    where light_id = #{lightId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from light_statistics
    where light_id = #{lightId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.LightStatisticsExample" >
    delete from light_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.LightStatistics" >
    insert into light_statistics (light_id, store_count, sale_count
      )
    values (#{lightId,jdbcType=INTEGER}, #{storeCount,jdbcType=INTEGER}, #{saleCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.LightStatistics" >
    insert into light_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lightId != null" >
        light_id,
      </if>
      <if test="storeCount != null" >
        store_count,
      </if>
      <if test="saleCount != null" >
        sale_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lightId != null" >
        #{lightId,jdbcType=INTEGER},
      </if>
      <if test="storeCount != null" >
        #{storeCount,jdbcType=INTEGER},
      </if>
      <if test="saleCount != null" >
        #{saleCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.LightStatisticsExample" resultType="java.lang.Integer" >
    select count(*) from light_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update light_statistics
    <set >
      <if test="record.lightId != null" >
        light_id = #{record.lightId,jdbcType=INTEGER},
      </if>
      <if test="record.storeCount != null" >
        store_count = #{record.storeCount,jdbcType=INTEGER},
      </if>
      <if test="record.saleCount != null" >
        sale_count = #{record.saleCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update light_statistics
    set light_id = #{record.lightId,jdbcType=INTEGER},
      store_count = #{record.storeCount,jdbcType=INTEGER},
      sale_count = #{record.saleCount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.LightStatistics" >
    update light_statistics
    <set >
      <if test="storeCount != null" >
        store_count = #{storeCount,jdbcType=INTEGER},
      </if>
      <if test="saleCount != null" >
        sale_count = #{saleCount,jdbcType=INTEGER},
      </if>
    </set>
    where light_id = #{lightId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.LightStatistics" >
    update light_statistics
    set store_count = #{storeCount,jdbcType=INTEGER},
      sale_count = #{saleCount,jdbcType=INTEGER}
    where light_id = #{lightId,jdbcType=INTEGER}
  </update>
</mapper>